* {
    font-family: Arial, Helvetica, sans-serif;
    
}

img {
    width: 350px;
    border: 0px;
    border-radius: 10px;
}

.cursoimage{
    width: 125px;
    border: 0px;
    border-radius: 10px;
    margin: 0 0 50px 100px;
}

.javascriptimage {
   width: 150px;
   height: 150px;
}

.buttondesign {
    margin: 10px 0 0 0;
    border: 0 50px 0 0;
    height: 20px;
    right: 115px;
    position: relative;
    
}

header {
    text-align: center;
    font-size: 10px;
    color: black;
}

body {
    background-color: gray;
}

main {
    border-radius: 10px;
    border: 0px;
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: inset 2px -3px 10px 0px black;
    font-size: 16px;
    text-align: center;
}

.headercolor {
    color: gray;
}

.flex-container {
    position: absolute;
    right: 42%;
    bottom: -15%;
    transform: translateX(50%);
    transform: translateY(50%);
    font-size: 33px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 330px;
    margin: 50px 0px -5px 0px;
    padding: 15px;
    box-shadow: inset 2px -3px 10px 0px black;
}

.flex-containerplay{
    position: absolute;
    right: 42%;
    bottom: -15%;
    transform: translateX(50%);
    transform: translateY(50%);
    font-size: 33px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 330px;
    margin: 50px 0px -5px 0px;
    padding: 15px;
    box-shadow: inset 2px -3px 10px 0px black;
}

a:hover{
    background-color: yellow;
}