* {
    font-family: Arial, Helvetica, sans-serif;
    
}

img {
    width: 350px;
    border: 0px;
    border-radius: 10px;
}

.cursoimage{
    width: 125px;
    border: 0px;
    border-radius: 10px;
    margin: 0 0 50px 100px;
}

.javascriptimage {
   width: 150px;
   height: 150px;
}

.buttondesign {
    margin: 10px 0 0 0;
    border: 0 50px 0 0;
    height: 20px;
    right: 115px;
    position: relative;
    
}

header {
    text-align: center;
    font-size: 10px;
    color: black;
}

body {
    background-color: gray;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    font-size: 16px;
    text-align: center;
}

.headercolor {
    color: gray;
}

footer {
    font-size: 22px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 250px;
    margin: 10px 0px 5px 133px;
    padding: 5px;
    box-shadow: 3px 3px 5px black;
}